<< template "file_setup.tmpl" . >>
<< template "record.tmpl" . >>
<< template "has_encoding.tmpl" . >>
<< template "own.tmpl" . >>
<< template "encode.tmpl" . >>
<< template "decode.tmpl" . >>
<< template "file_conculsion.tmpl" . >>
