From Perennial.program_proof Require Import grove_prelude.
From << .ProjectName >> Require Import << .GooseOutput >>.
From Perennial.program_proof Require Import marshal_stateless_proof.

Module << .ModuleName >>.
Section << .ModuleName >>.

Context `{!heapGS Σ}.
