Proof.
  wp_start as "[%Henc Hsl]". wp_auto.
  << $refs := (extValFields .Fields) ->>
  << $psls := (predSliceFields .Fields) ->>
  << if or (len $psls) (len $refs)  ->>
  unfold has_encoding in Henc.
  destruct Henc as (
  <<- range $idx, $r := (extEncFields .Fields) ->>
    <<- if $idx >>&<< end >> << .Name >>_enc << end ->>
    & Henc
    <<- range .Fields >>
    <<- if or (isMessage .) (isPredSliceType .) >> & Henc_<< .Name >>
    <<- if isPredSliceType . >> & H<< .Name >>_sz <<- end ->>
    <<- else if isCoqType . "go_string" >> & Hlen_<< .Name >>
    <<- end >>
    <<- end >> ).
  << end ->>
  rewrite Henc. rewrite -?app_assoc.
