
  wp_load. wp_apply (<< coqModuleName . >>.wp_Decode << .Name >>_sl with "[$Hsl //]").
  iIntros (<< .Name >>__v ?) "[Hown_<< .Name >> Hsl]".
  iDestruct (<< coqModuleName . >>.own_to_val with "Hown_<< .Name >>") as "%Hval_<< .Name >>".
  rewrite Hval_<< .Name >>.
  wp_pures. wp_store. wp_store.
