
  wp_load. wp_apply (<<- .TypeName ->>.wp_Encode with "[$Hargs_<<- .Name ->>_enc $Hsl]").
  iIntros (<<- .Name ->>_enc << .Name ->>_sl) "(%Hargs_<< .Name >>_enc & Hsl & Hargs_<< .Name >>_own)".
  wp_store.
