<< template "coq_autogen_notice.tmpl" >>
From New.proof Require Import proof_prelude.
From New.code Require Import << cleanCoqName .GoPackage >>.<< lower .Name >>_gk.
From New.generatedproof Require Import << cleanCoqName .GoPackage >>.<< lower .Name >>_gk.

Module << .Name >>_gk.
Section << .Name >>_gk.

Context `{hG: heapGS Σ, !ffi_semantics _ _}.
Context `{!globalsGS Σ} {go_ctx : GoContext}.

Definition name_map : gmap w32 go_string := list_to_map [
                                                << range $idx, $val := .Values ->>
                                                << if $idx >>;
                                                << end ->>
                                                ((W32 << .Number >>), "<< .Name >>"%go)
                                                <<- end >>
                                              ].
Definition value_map : gmap go_string w32 := list_to_map [
                                                 << range $idx, $val := .Values ->>
                                                 << if $idx >>;
                                                 << end ->>
                                                 ("<< .Name >>"%go, (W32 << .Number >>))
                                                 <<- end >>
                                               ].

Definition is_initialized : iProp Σ :=
  "HglobalName" ∷ (global_addr << lower .Name >>_gk.Name) ↦${DfracDiscarded} name_map ∗
  "HglobalValue" ∷ (global_addr << lower .Name >>_gk.Value) ↦${DfracDiscarded} value_map.

Local Notation deps := (ltac2:(build_pkg_init_deps '<< lower .Name >>_gk) : iProp Σ) (only parsing).
#[global]
Program Instance : IsPkgInit << lower .Name >>_gk :=
  {|
    is_pkg_init_def := is_initialized;
    is_pkg_init_deps := deps;
  |}.

Inductive I :=
<<- range .Values >>
| << .Name >> 
<<- end >>.

Definition to_tag i : w32 :=
  match i with
  <<- range .Values >>
  | << .Name >> => W32 << .Number >>
  <<- end >>
  end.

End << .Name >>_gk.
End << .Name >>_gk.
