From Perennial.program_proof Require Import grove_prelude.
From Perennial.program_proof Require Import marshal_stateless_proof.
<<- range .NestedMessages >>
From << $.CoqLogicalPath >> Require Import << . >>_proof.
From Goose Require Import << cleanCoqName $.GoPackage >>.<< . >>.
<<- end >>

Module << .Name >>.
Section << .Name >>.

Typeclasses Opaque app.

Context `{!heapGS Σ}.
