Proof.
  iIntros (?) "[%Henc Hsl] HΦ". wp_rec.
  wp_apply wp_ref_to; first done.
  iIntros (l__s) "Hs". wp_pures.
  << range .Fields >>
  wp_apply wp_ref_of_zero; first done.
  iIntros (l__<< .Name >>) "H<< .Name >>". wp_pures.
  << end >>
  << $refs := (extValFields .Fields) ->>
  << $psls := (predSliceFields .Fields) ->>
  << if or (len $psls) (len $refs)  ->>
  unfold has_encoding in Henc.
  destruct Henc as (
  <<- range $idx, $r := (extEncFields .Fields) ->>
    <<- if $idx >>&<< end >> << .Name >>_enc << end ->>
    & Henc
    <<- range .Fields >>
    <<- if or (isMessage .) (isPredSliceType .) >> & Henc_<< .Name >>
    <<- if isPredSliceType . >> & H<< .Name >>_sz <<- end ->>
    <<- end >>
    <<- end >> ).
  << end ->>
  rewrite Henc. rewrite -?app_assoc.
