
  wp_apply (wp_WriteInt with "[$Hsl $Hcap]").
  iIntros (?) "[Hsl Hcap]". wp_auto.

  iDestruct (own_slice_len with "Hown_<< .Name >>_sl") as "[%Hown_<< .Name >>_sz %Hown_<< .Name >>_sz_nonneg]".
  iDestruct (big_sepL2_length with "Hown_<< .Name >>_own") as "%Hown_<< .Name >>_sz'".
  rewrite Hown_<< .Name >>_sz' in Hown_<< .Name >>_sz.
  wp_apply (wp_WriteSlice << if not (isGoType . "message|enum") >>_ _ _ _ _ << goType . >>_has_encoding << end >>with "[$Hsl $Hcap $Hown_<< .Name >>_sl $Hown_<< .Name >>_own]").
  {
    iIntros (????) "!>".
    iIntros (?) "(Hown & Hsl & Hcap) HΦ".
    <<- if isGoType . "message|enum" >>
    wp_apply (<< .TypeName >>_gk.wp_Encode with "[$Hown $Hsl $Hcap]").
    iApply "HΦ".
    <<- else >>
    iDestruct (own_prim_eq with "Hown") as "%Hown_x".
    rewrite Hown_x.
    wp_apply (wp_Write<< marshalType . >> with "[$Hsl $Hcap]").
    iIntros (?) "Hsl".
    iApply "HΦ".
    iFrame.
    done.
    <<- end >>
  }
  iIntros (<< .Name >>_enc << .Name >>_sl') "(Hown_<< .Name >> & Hown_<< .Name >>_own & %Henc_<< .Name >> & Hsl & Hcap)".
  wp_auto.
