
  iDestruct (own_slice_len with "Hown_<< .Name >>") as "%Hown_<< .Name >>_sz".
  wp_apply (wp_WriteInt with "[$Hsl $Hcap]"). iIntros (?) "[Hsl Hcap]". wp_auto.
  wp_apply (wp_WriteBytes with "[$Hsl $Hcap $Hown_<< .Name >>]").
  iIntros (?) "(Hsl & Hcap & Hown_<< .Name >>)". wp_auto.
