
  iApply "HΦ". rewrite -?app_assoc.
  iFrame. iPureIntro.

  unfold has_encoding.
  split; last done.
  << $eenc := (extEncFields .Fields) ->>
  << if gt (len $eenc) 0 >>exists << range $idx, $field := $eenc ->>
  <<- if $idx >>, << end ->>
  <<- .Name ->>_enc
  <<- end >>.<< end >>
  <<- $bbl := (filterByCoqType .Fields "u8|list|bool") ->>
  << if gt (len $bbl) 0 >>
  split.
  {
     << range $bbl ->>
     << if isCoqType . "bool" ->>
     rewrite Hown_<< .Name >>.
     << else ->>
     rewrite Hown_<< .Name >>_sz.
     << end >><< end ->>
     rewrite ?w64_to_nat_id.
     congruence.
  }
  << range (repeatedFields .Fields) ->>
  rewrite <- Hown_<< .Name >>_sz'.
  << end ->>
  done.<< else if gt (len (filterByCoqType .Fields "message|go_string|u8")) 0 >>
  split. all: congruence || done.
  <<- else >>
  congruence.<< end >> 
Qed.
