<< template "coq_autogen_notice.tmpl" >>
<< template "coq_file_setup.tmpl" . >>
<< template "coq_record.tmpl" . >>
<< template "coq_has_encoding.tmpl" . >>
<< template "coq_own.tmpl" . >>
<< template "coq_to_val.tmpl" . >>
<< template "coq_from_val.tmpl" . >>
<< template "coq_into_val.tmpl" . >>
<< template "coq_into_val_for_type.tmpl" . >>
<< template "coq_own_to_val.tmpl" . >>
<< template "coq_encode.tmpl" . >>
<< template "coq_marshal_setup.tmpl" . >>
<<- range .Fields ->>
<< callTemplate (join "" (join "_" "coq" "marshal" (protoType .)) ".tmpl") . >>
<<- end ->>
<< template "coq_marshal_conclusion.tmpl" . >>
<< template "coq_decode.tmpl" . >>
<< template "coq_unmarshal_setup.tmpl" . >>
<<- range .Fields ->>
<< callTemplate (join "" (join "_" "coq" "unmarshal" (protoType .)) ".tmpl") . >>
<<- end ->>
<< template "coq_unmarshal_conclusion.tmpl" . >>
<< template "coq_file_conculsion.tmpl" . >>
