
  wp_load. iApply "HΦ". iModIntro. rewrite -?app_assoc.
  iFrame. iPureIntro.

  << $msgs := (messageFields .Fields) ->>
  << if gt (len $msgs) 0 ->>
  unfold has_encoding. exists << range $idx, $field := $msgs ->>
  <<- if $idx >>, << end ->>
  <<- .Name ->>_enc
  <<- end ->>. << range $idx, $field := $msgs >>
  split.
  { << if not $idx ->>
    << range $idx, $field := $.Fields ->>
    << if or (isCoqType . "list u8") (isCoqType . "string") ->>
    rewrite Hargs_<< .Name >>_sz. rewrite w64_to_nat_id.
    << end ->>
    <<- end ->>
    <<- end ->>
    exact. }
  <<- end >> { exact. }
  <<- else >> done.
  <<- end >>
Qed.
