
  wp_apply (wp_ReadLenPrefixedBytes with "[$Hsl]"); first word.
  iIntros (??) "[H<< .Name >>_byt Hsl]". wp_auto.
  wp_apply (wp_StringFromBytes with "[$H<< .Name >>_byt]").
  iIntros "H<< .Name >>_byt". wp_auto.
