From Perennial.program_proof Require Import grove_prelude.
From Perennial.program_proof Require Import marshal_stateless_proof.
From Goose Require Import << cleanCoqName .GoPackage >>.<< lower .Name >>_gk.
<<- range .NestedMessages >>
From << $.CoqLogicalPath >> Require Import << lower . >>_proof_gk.
From Goose Require Import << cleanCoqName $.GoPackage >>.<< lower . >>_gk.
<<- end >>

Module << .Name >>.
Section << .Name >>.

Typeclasses Opaque app.

Context `{!heapGS Σ}.
