Lemma own_to_val (v : val) (c : C) (dq : dfrac) :
  own v c dq -∗ ⌜ v = to_val c ⌝.
Proof.
  <<- if (len .NestedMessages) >>
  iIntros "Hown". iNamed "Hown".
  <<- else >>
  iIntros "%Hown_struct".
  <<- end >>
  << range (messageFields .Fields) >>
  iDestruct (<< coqModuleName . >>.own_to_val with "Hown_<< .Name >>") as "%Hval_<< .Name >>".
  << end >>
  subst. done.
Qed.
