Definition has_encoding (encoded:list u8) (args:C) : Prop :=
  <<- $msgs := (messageFields .Fields) ->>
  <<- range $idx, $field := $msgs ->>
  <<- if not $idx >>
  ∃ (<<- end ->>
  <<- $field.Name ->>_enc << end ->>
  << if len $msgs >>: list u8), << end >>
  encoded = << range $idx, $field := .Fields ->>
              << if $idx >> ++
              << end >>
              <<- if and (isMessage .) (not (isSliceType .)) ->>
              << $field.Name ->>_enc
              <<- else if or (isCoqType . "byte_string") (isSliceType .) ->>
              (u64_le $ length $ args.(<< $field.Name >>)) ++ args.(<< $field.Name >>)
              <<- else if (isCoqType . "bool") ->>
              [if args.(<< $field.Name >>) then W8 1 else W8 0]
              <<- else ->>
              (<<- coqType $field >>_le args.(<<- $field.Name ->>))
              <<- end ->><<- end ->>
  <<- range $idx, $field := $msgs >>
  <<- if isSliceType . >>
  /\ encodes << $field.Name >>_enc args.(<< $field.Name >>) << $field.TypeName >>.has_encoding
  /\ length args.(<< $field.Name >>) < 2^64
  <<- else >>
  /\ << $field.TypeName ->>.has_encoding << $field.Name ->>_enc args.(<<- $field.Name ->>)
  <<- end ->>
  <<- end ->>.
