
  wp_load. wp_apply (wp_ReadBool with "[Hsl]").
  { simpl. iFrame. }
  iIntros (<< .Name >>_b ?) "[%H<< .Name >> Hsl]".
  assert (<< .Name >>_b = args__c.(<< .Name >>)) as Hargs_<< .Name >>.
  { destruct args__c.(<< .Name >>); rewrite H<< .Name >>; reflexivity. }
  rewrite Hargs_<< .Name >>.
  wp_pures. wp_store. wp_store.
