From New.proof Require Import proof_prelude.
From New.proof Require Import github_com.tchajed.marshal.
<<- if (filterByGoType .Fields "string") >>
From New.proof Require Import github_com.goose_lang.primitive. 
<<- end >>
From New.code Require Import << cleanCoqName .GoPackage >>.<< lower .Name >>_gk.
From New.generatedproof Require Import << cleanCoqName .GoPackage >>.<< lower .Name >>_gk.
<<- range .NestedMessages >>
From << $.CoqLogicalPath >> Require Import << lower . >>_proof_gk.
From New.code Require Import << cleanCoqName $.GoPackage >>.<< lower . >>_gk.
<<- end >>

Module << .Name >>_gk.
Section << .Name >>_gk.

Context `{hG: heapGS Σ, !ffi_semantics _ _}.
Context `{!goGlobalsGS Σ}.

#[global]
Program Instance : IsPkgInit << lower .Name >>_gk :=
  ltac2:(build_pkg_init ()).
