Proof.
  iIntros (?) "[%Henc Hsl] HΦ". wp_rec.
  wp_apply wp_ref_to; first done.
  iIntros (l__s) "Hs". wp_pures.
  << range .Fields >>
  wp_apply wp_ref_of_zero; first done.
  iIntros (l__<< .Name >>) "H<< .Name >>". wp_pures.
  << end >>
  << $refs := (extValFields .Fields) ->>
  << $msgs := (messageFields $refs) ->>
  << if gt (len $refs) 0 ->>
  unfold has_encoding in Henc.
  destruct Henc as (
  <<- range $idx, $r := $msgs ->>
    <<- if $idx >>&<< end >> << .Name >>_sl << end ->>
    & Henc
    <<- range $idx, $m := $msgs >> & Hencoding_<< .Name >> <<- end >> ).
  << end ->>
  rewrite Henc. rewrite -?app_assoc.
