package << lower .Name >>_gk

import (
    <<- if ne (len .NestedMessages) (len .Fields) >>
    "github.com/tchajed/marshal"
    <<- end >>
    << range .NestedMessages >>
    "<< $.GoPackage >>/<<- lower . ->>_gk"
    <<- end >>
)
