<< template "go_autogen_notice.tmpl" >>
<< template "go_file_setup.tmpl" . >>
<< template "go_struct.tmpl" . >>
<< template "go_size.tmpl" . >>
<< template "go_marshal.tmpl" . >>
<< template "go_unmarshal.tmpl" . >>
